@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400|Judson:700|Nobile:400,700|Alata:400|Noto+Sans+SC:400|Barlow:400|Roboto:300,500|Acme:400|Offside:400");
@font-face {
  font-family: "Adobe Blank-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/AdobeBlank.otf") format("opentype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
