:root { 
  --alto: #dbdbdb;
  --black: #000000;
  --black-2: #030000;
  --conifer: #8ee640;
  --eastern-blue: #1c9e9a;
  --eerie-black: #181818;
  --frostbite: #ec24b4;
  --harlequin: #32f210c7;
  --java: #0fc8c2;
  --picton-blue: #3daee8;
  --quill-gray: #d3d3d3;
  --sunglo: #e26b6b;
  --surfie-green: #097879de;
  --turquoise-pearl: #45bad5;
  --white: #ffffff;
  --white-2: #ffffffb2;
 
  --font-size-l: 48px;
  --font-size-m: 27px;
  --font-size-s: 26px;
  --font-size-xl: 66px;
  --font-size-xs: 25px;
  --font-size-xxs: 22px;
  --font-size-xxxs: 18px;
 
  --font-family-acme: "Acme", Helvetica;
  --font-family-adobe_blank-regular: "Adobe Blank-Regular", Helvetica;
  --font-family-alata: "Alata", Helvetica;
  --font-family-barlow: "Barlow", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-judson: "Judson", Helvetica;
  --font-family-nobile: "Nobile", Helvetica;
  --font-family-noto_sans_sc: "Noto Sans SC", Helvetica;
  --font-family-offside: "Offside", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
